*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h2 {
    overflow-wrap: break-word;
}

.card {
    background-color: hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 1.5rem;
    width: 60%;
    height: 67vh;
    margin-left: auto;
    margin-right: auto;
}

.main-img {
    align-self: center;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

h2 {
    color: white;
    margin-bottom: 1rem;
    font-weight: 600;
}

p {
    color:hsl(215, 51%, 70%);
    font-size: 1.125rem;
    font-weight: 300;
}

.eth-desc {
    margin-bottom: 1rem;
    font-weight: 300;
}

.icon {
    display: inline
}

.value-and-time {
    display: flex;
    justify-content: space-between;
}

.value-label {
    color:hsl(178, 100%, 50%);
    font-weight: 600;
}

.time-label {
    color: hsl(215, 51%, 70%);
    font-weight: 400;
}

.divider { 
    background-color: hsl(215, 32%, 27%); 
    height: 1px; 
    border: 0;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
}

.val-time {
    display: flex;
    align-items: center;
    gap: 0.3rem
}

.created-by {
    display: flex;
    align-items: center;
}

.avatar {
    display:inline;
    width: 3rem;
    height: 3rem;
    border: 2px solid white;
    border-radius: 100%;
    margin-right: 1rem;
}

.name {
    color: white;
}

.attribution { font-size: 11px; color: white; text-align: center; position: absolute; bottom: 0; left:0}
.attribution a { color: hsl(231, 30%, 95%); }

/* outfit-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    src: url('../../fonts/outfit-v11-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* outfit-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/outfit-v11-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* outfit-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/outfit-v11-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/****************************************************/
/* MOBILE STYLING */
/****************************************************/
@media (min-width: 20rem) and (max-width: 30rem) {
    .card {
        width: 90vw
    }
}